<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".di.TournafyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tournafy">
        
        <!-- Splash Screen Activity -->
        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Tournafy.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Main Activity -->
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="false" />
        
        <!-- Tournament Activity -->
        <activity
            android:name=".ui.activities.TournamentActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.MainActivity" />
        
        <!-- Match Details Activity -->
        <activity
            android:name=".ui.activities.MatchActivity"
            android:exported="true"
            android:parentActivityName=".ui.activities.MainActivity">
            
            <!-- Deep Link Support for Match Sharing -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <!-- Match links: https://tournafy.app/match/{visibilityLink} -->
                <data
                    android:scheme="https"
                    android:host="tournafy.app"
                    android:pathPrefix="/match" />
                
                <!-- Also support http for local testing -->
                <data
                    android:scheme="http"
                    android:host="tournafy.app"
                    android:pathPrefix="/match" />
            </intent-filter>
            
            <!-- Custom App Scheme for Reliable Deep Linking (No verification needed) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <!-- App-specific deep links: tournafy://match/{visibilityLink} -->
                <data
                    android:scheme="tournafy"
                    android:host="match" />
            </intent-filter>
        </activity>
    </application>

</manifest>